* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Varela Round", sans-serif;
}

.search-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  top: 0;
  left: 0;
  right: 0;
}

.search-brand,
.search-location {
  display: flex;
  color: black;
  margin: 0;
  padding: 20px;
  background-color: #f9dec9;
  justify-content: stretch;
}

.search-brand p,
.search-location p {
  display: flex;

  align-items: center;
}

#brand-dropdown,
#location-dropdown {
  margin: 0 1em;
  font-weight: 700;
  font-size: 1em;
  color: #444;
  min-width: 60%;
  border: 1px solid #aaa;
  border-radius: 0.5em;
}

.outlet-wrapper {
  overflow: scroll;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1em;
  padding: 0.5em;
  background-color: #d7e4ed;
  font-weight: 700;
  color: black;
}

ul li span {
  flex: 2;
  text-align: center;
}

ul li span:first-child {
  flex: 1;
}

ul li:first-child {
  border-bottom: double;
  background-color: #5e8199;
  color: white;
}

img {
  width: 100%;
  height: auto;
}
